<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>William Omar Gibram</title>
</head>
<body>
      <nav class="navbar col-sm-0">
        <a href="#" class="nav-item nav-link">Meus Projetos</a>
        <a href="#" class="nav-item nav-link">Minha Startup</a>
        <a href="#" class="nav-item nav-link active">Meu Curriculo</a>
        <a href="#" class="nav-item nav-link active">Hobby's</a>
        <label class="switch">
          <input type="checkbox" id="theme-toggle">
          <span class="slider round" for="theme-toggle"></span>
        </label>
      </nav>
    </div>
    <hr>
  <div class="container-fluid p-0">
    <div class="row no-gutters full-screen">
      <div class="col">
        <div class="image-container"
        style="background-color: #3b3585;">
          <div class="overlay">
            <div class="text">Meus Projetos</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="image-container"
        style="background-color: #3b3585;">
          <div class="overlay">
            <div class="text">Minha StartUp</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="image-container" style="background-color: #3b3585;">
          <div class="overlay">
            <div class="text">Meu Curriculo</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="image-container" style="background-color: #3b3585;">
          <div class="overlay">
            <div class="text">Meus Hobby's</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-muted">William Omar Gibram ©2024</p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">
        <h5>Redes Sociais</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">LinkdIn</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Github</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Facebook</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Instagram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tiktok</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Twitch</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Contato</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">E-Mail</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">WhatsApp</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Telegram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Discord</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Sobre mim</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Meus Hobbys</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Minha StartUp</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Meu Curriculo</a></li>
        </ul>
      </div>
    </footer>
  </div>

  <!-- JavaScript (Opcional) -->
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script>
    const themeToggle = document.getElementById('theme-toggle');
    themeToggle.addEventListener('change', function () {
      document.body.setAttribute('data-theme', this.checked ? 'dark' : 'light');
    });
    // Set default theme to light
    document.body.setAttribute('data-theme', 'light');
  </script>
</body>

</html>
